<div class="container">

    <h1>Agrege Membresia</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>Id</mat-label>
      <input matInput placeholder="Id" [(ngModel)]="membership.idMembership">
    </mat-form-field>
  
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Tipo de Membresia</mat-label>
      <input matInput required placeholder="name" [(ngModel)]="membership.type">
  
  </mat-form-field>
  <br>
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput required placeholder="name" [(ngModel)]="membership.nameMembership">
  
    </mat-form-field>
    <br>
      <br>
    <br>

    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/membership">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>