<div class="container"> 
    <div style="text-align:center ;">
    <h1>LISTAR PICTOGRAMAS</h1>
    </div>
    <app-pictogramas-buscar></app-pictogramas-buscar>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
      <ng-container matColumnDef="idPictograma">
        <th mat-header-cell *matHeaderCellDef> ID . </th>
        <td mat-cell *matCellDef="let element"> {{element.idPictograma}} </td>
      </ng-container>
    
      <ng-container matColumnDef="namePictograma">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.namePictograma}} </td>
      </ng-container>
    
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario.nameUsuario}} </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria.nameCategoria}}</td>
      </ng-container>

      <ng-container matColumnDef="accion1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element?.idPictograma]">Actualizar</button>
    
        </td>
      </ng-container>
      
      <ng-container matColumnDef="accion2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="confirmar( element.idPictograma )">Eliminar</button>
    
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div class="example-full-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
          routerLink="/pictogramas/nuevo">
          <mat-icon>plus_one</mat-icon>
        </button>
      </div>
    
