<div class="container">

  <h1>Usuarios</h1>

  <mat-form-field class="example-full-width">
    <mat-label>id</mat-label>
    <input matInput placeholder="id" [(ngModel)]="Usuario.idUsuario">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>name</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="Usuario.nameUsuario">

  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>lastname</mat-label>
    <input matInput required placeholder="lastname" [(ngModel)]="Usuario.lastName">

  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>number</mat-label>
    <input matInput required placeholder="number" [(ngModel)]="Usuario.numberUsuario">

  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput required placeholder="email" [(ngModel)]="Usuario.emailUsuario">

  </mat-form-field>
  <br>
  
  <mat-form-field class="example-full-width">
    <mat-label>password</mat-label>
    <input matInput required placeholder="password" [(ngModel)]="Usuario.passwordUsuario">

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Seleccione Rol</mat-label>
    <mat-select [(value)]="idRolSeleccionado" required>
        <mat-option *ngFor="let p of listaRol" [value]="p.idRol">
            {{p.nameRol}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/usuario">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
