<div class="container">
  <div style="text-align: center;">
  <h1>Listar Usuarios</h1>
  </div>
  <app-usuario-buscar></app-usuario-buscar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> NAME</th>
    <td mat-cell *matCellDef="let element"> {{element.nameUsuario}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> LASTNAME </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> TELEPHONE_NUMBER </th>
    <td mat-cell *matCellDef="let element"> {{element.numberUsuario}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
    <td mat-cell *matCellDef="let element"> {{element.emailUsuario}} </td>
  </ng-container>
  
  <ng-container matColumnDef="password">
    <th mat-header-cell *matHeaderCellDef> PASSWORD </th>
    <td mat-cell *matCellDef="let element"> *********** </td>
  </ng-container>

   <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef> Rol</th>
    <td mat-cell *matCellDef="let element"> {{element.rol.nameRol}}</td>
  </ng-container>

  <ng-container matColumnDef="membership">
    <th mat-header-cell *matHeaderCellDef> Nombre de membresia</th>
    <td mat-cell *matCellDef="let element"> {{element.membership.nameMembership}}</td>
  </ng-container>

  <ng-container matColumnDef="accion1">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
        [routerLink]="['edicion', element?.idUsuario]">Actualizar</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="accion2">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="confirmar(element.idUsuario)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="example-button-container">
  <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/usuario/insertar">
      <mat-icon>plus_one</mat-icon>
  </button>
  <br>
  <br>
  <button style="margin: 5px" routerLink="/usuario/Anual" mat-raised-button color="accent"> Membresia Anual </button>

</div>

<div class="example-button-container">
  <button style="margin: 5px" routerLink="/usuario/Admin" mat-raised-button color="accent"> Administradores  </button>
  </div>
</div>
