<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Menu de Navegacion</title>
    <link href="landingpage.component.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>LENPIC</h1>
      <div class="menu">
        <nav>
          <ul>
            <li><a href="#">INCIO</a></li>
            <li><a href="#">NOSOTROS</a></li>
            <li><a href="#">DESCARGA</a></li>
            <li><a href="#">ENCUESTA</a></li>
            
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <header>
        <br />
        <br />
        <br />
        <h2>Sumate a nuestra idea:</h2>
        <p>Ayuda a que las personas con problemas</p>

        <p>para comunicarse de forma oral</p>
        <p>no se sientan</p>
        <p>excluidas ¿Como?</p>
        <p>Enterate de nuestra aplicacion y</p>
        <p>recomiendala</p>
      </header>
    </main>
    <footer>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p>Sin Derechos de Autor</p>
    </footer>
  </body>
</html>
