<div class="container">

  <h1>Capacitacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>id</mat-label>
    <input matInput placeholder="id" [(ngModel)]="rol.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>rolName</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="rol.rolName">

  </mat-form-field>
  <br>


  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/rol">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
