<h1>Lista de Comentarios en Idiomas</h1>
<app-idiomas-buscar></app-idiomas-buscar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idIdiomas}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="idiomas">
      <th mat-header-cell *matHeaderCellDef> Idioma </th>
      <td mat-cell *matCellDef="let element"> {{element.nameIdiomas}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="resenas">
      <th mat-header-cell *matHeaderCellDef> Resena </th>
      <td mat-cell *matCellDef="let element"> {{element.idResenas.nameResenas}} </td>
    </ng-container>
  
    <ng-container matColumnDef="accion1">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          [routerLink]="['edicion', element?.idIdiomas]">Actualizar</button>

      </td>
    </ng-container>
    <ng-container matColumnDef="accion2">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="confirmar(element.idIdiomas)">Eliminar</button>

      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="example-button-container">

    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
      routerLink="/idiomas/insertar">
      <mat-icon>plus_one</mat-icon>
    </button>
    <button
    style="margin: 5px"
    routerLink="/idiomas/Comentario"
    mat-raised-button
    color="accent"
  >
    Resena Tipo Comentario
  </button>

</div>
